* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
}

body {
  background: url(../pic/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url(../pic/image.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 20px black, 0 0 50px #4069ff;
          box-shadow: inset 0 0 20px black, 0 0 50px #4069ff;
  -webkit-animation: animateEarth 15s linear infinite;
          animation: animateEarth 15s linear infinite;
}

@-webkit-keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -750px 0;
  }
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -750px 0;
  }
}

.circle {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: animateText 10s linear infinite;
          animation: animateText 10s linear infinite;
}

.circle span {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  color: #35156f;
  font-size: 3em;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: 5px 11px;
  -webkit-transform: rotateY(calc(var(--i) * calc(360deg / 30))) translateZ(200px);
          transform: rotateY(calc(var(--i) * calc(360deg / 30))) translateZ(200px);
  border-top: 4px solid #35146f;
  border-bottom: 4px solid #35146f;
}

.circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateZ(-5px);
          transform: translateZ(-5px);
}

@-webkit-keyframes animateText {
  0% {
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
  }
}

@keyframes animateText {
  0% {
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
  }
}
/*# sourceMappingURL=style.css.map */